.navbar {
  border-bottom: solid 2px black;
  margin-bottom: 2rem;

  .title {
    // font-family: "Play write France Modern", serif;
    font-family: "Lucida Handwriting", cursive;
    font-weight: 400;
    font-size: 2rem;
  }

  .second_row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .first_column {
      display: flex;
      justify-content: center;
    }

    .second_column {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }

    .dropdown_menu_empty {
      left: -6.5rem;
    }
    .dropdown_menu_with_items {
      left: -28rem;
    }

    .login_system {
      margin-left: 2rem;
    }
  }
}

.grass_image {
  position: absolute;
  opacity: 0.4;
  z-index: -1;
  left: 0;
  top: 0;
}
