.root {
  .list {
    width: 30rem !important;
  }

  .image_prodiuct {
    width: 5rem;
    height: 5rem;
  }

  .empty_text {
    font-size: 1rem;
  }

  p {
    font-size: 1.1rem;
  }

  .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buttons {
    height: 2rem;
    width: 3rem;
  }

  .div_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .div_buttons p {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .root {
    .list {
      width: 10rem !important;
    }

    .image_prodiuct {
      width: 2.5rem;
      height: 2.5rem;
    }

    .empty_text {
      font-size: 0.5rem;
    }

    p {
      font-size: 1.1rem;
    }

    .items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      margin-bottom: 1rem;
    }

    .buttons {
      height: 1.7rem;
      width: 1.7rem;
      font-size: 12.5px;
    }

    .div_buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
    
  }
}

@media (max-width: 768px) {
  .root {
    .list {
      width: 10rem !important;
    }

    .image_prodiuct {
      width: 2.5rem;
      height: 2.5rem;
    }

    p {
      font-size: 15px;
    }

    .div_buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
    
  }
}

@media (max-width: 430px) {
  .root {
    .empty_text {
      font-size: 0.875rem;
    }
  }
}
