.card {
  margin: 10px;
  width: 18rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

  .card:hover {
    transform: scale(1.05);
  }

  .link {
    text-decoration: none;
    color: black;
  }
}
