@import "../../../styles/variables.module.scss";

.custom_pagination {
  .activeItem {
    background-color: $button_color !important;
    color: white;
    border-color: $button_color !important;
  }

  .inactiveItem {
    color: $button_color;
  }

  .arrows {
    color: $button_color;
  }
}
