@import "../../../styles/variables.module.scss";

.root {
  width: 40%;

  .title {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .form {
    .form_label {
      font-size: 1.5rem;
    }

    .custom_error_info {
      color: red;
      font-size: 0.675rem !important;
    }
  }

  .main_button {
    background-color: $button_color !important;
    border-color: $button_color !important;
  }
}

@media (max-width: 430px) {
  .root {
    width: 40%;

    .title {
      font-size: 1.5rem;
    }

    .form {
      .form_label {
        font-size: 1rem;
      }
    }
  }
}
