.root {
  .row_products {
    margin: 3rem;
  }

  .image_product {
    width: 5rem;
    height: 5rem;
  }

  .empty_text {
    font-size: 1rem;
  }

  p {
    font-size: 1.1rem;
  }

  .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .buttons {
    height: 2rem;
    width: 3rem;
  }

  .div_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .div_buttons p {
    margin: 0;
  }
}


@media (max-width: 426px) {
  .root {
    .buttons {
    height: 1.7rem;
    width: 1.7rem;
    font-size: 12.5px;
  }
  }
}