@import "../../../styles/variables.module.scss";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  .search_bar {
    border: solid 2px $bg-brown;
    width: 25%;
  }
}

@media (max-width: 430px) {
  .root {
    .search_bar {
      border: solid 2px $bg-brown;
      width: 75%;
    }
  }
}
