@import "../../../styles/variables.module.scss";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  .search_bar {
    border: solid 2px $bg-brown;
    width: 50%;
  }

  input::placeholder {
    text-align: center;
  }

  input {
    text-align: left;
  }
}
