.root {
  .p,
  .li {
    font-weight: 400;
    color: black;
    font-family: "Courier New", Courier, monospace;
  }

  .row {
    margin: 2rem 0 10rem 0;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .first_row_colum {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }
}
