@import "../../../styles/variables.module.scss";

.root {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;

  .title {
    font-family: cursive;
  }

  .p,
  .li {
    font-weight: 400;
    color: $text-color-dark;
    font-family: "Courier New", Courier, monospace;
  }

  .row {
    margin: 2rem 0 7rem 0;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
  }

  .background {
    position: absolute;
    width: 100%;
    height: 25%;
    margin: 0;
    left: 0;
    object-fit: cover;
  }

  .first_row_colum {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .root {
    .p,
    .li {
      font-size: 12px;
    }

    .row {
      margin-bottom: 2rem;
      flex-direction: column;
    }
  }
}

@media (max-width: 430px) {
  .root {
    .row {
      margin-bottom: 2rem;

      flex-direction: column;
    }
  }
}
