.root {
  .background {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 1s;
    // transform-origin: center;
  }

  .items {
    margin-bottom: 1rem;
  }

  .background:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  .slide__link {
    background-color: #27ae60 !important;
    margin-top: 2rem;

    color: white;
    border: solid 1px #27ae60 !important;

    padding: 5px 10px;
    text-decoration: none;

    &:hover {
      background-color: darken(#27ae60, 10%);
      border-color: darken(#27ae60, 10%);
      text-decoration: none;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(#27ae60, 0.5);
    }
  }
}
