.root {
  padding: 20px;
  .row {
    display: flex;
    flex-wrap: wrap;
    // width: 50%;
  }
}

@media (max-width: 430px) {
  .root {
    .row {
      display: flex;
      align-items: center;
    }
  }
}
