$button_color: #268c51;
$button_color_hover: #1f6e40;
$text-color: #fef9f0;
$text-hover-color: #f1c40f;
$project-bg-color: #0064bd;
$alert-color: #d63031;
$bg-brown: #402e32;

// navbar colours
$navbar_background_color_dark: #5bcf92;
$navbar_background_color_light: #93f1c5;
